$black: #000;
$white: #fff;
$red: #ff0000;
$green: #00b400;
$gray: #333;
$placeholder: #989898;

$pink: #eb006e;
$pinkHover: #d7006c;

//colors
.black-color      {color: $black;}
.white-color      {color: $white;}
.red-color        {color: $red;}
.green-color      {color: $green;}
.pink-color {color:$pink;}

//backgrounds
.black-bg     {background: $black;}
.white-bg     {background: $white;}
.red-bg       {background: $red;}
.green-bg     {background: $green;}