@import "compass/css3";
@import "bootstrap_breakpoint";
@import "color";
$grid-columns:      12;
$grid-gutter-width: 30px;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px, big: 1300px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

//default font icons
@font-face {
  font-family: 'icons';
  src:  url('../fonts/icons.eot?xro6ry');
  src:  url('../fonts/icons.eot?xro6ry#iefix') format('embedded-opentype'),
  url('../fonts/icons.ttf?xro6ry') format('truetype'),
  url('../fonts/icons.woff?xro6ry') format('woff'),
  url('../fonts/icons.svg?xro6ry#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icons-"], [class*=" icons-"] {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  &.list-none {
    list-style: none;
    li {
      a {

      }
    }
  }
  li {
    display: block;
    a {
      display: block;
    }
  }
}

.button {
  position: relative;
  padding: 1.5rem 1rem;
  font-size: 1.6rem;
  color: $white;
  background: $pink;
  cursor: pointer;
  z-index: 5;
  &:hover {
    color: $white;
    background: $pinkHover;
    &:before,
    &:after {
      background:$pinkHover;
    }
  }
  &.disabled {
    cursor: default;
    background: $gray;
  }
  &:before,
  &:after {
    content: ' ';
    background: $pink;
    width: 1rem;
    height: 100%;
    position: absolute;
    top: 0;
  }
  &:before {
    right: -1rem;
    transform-origin: left top;
    transform: skewX(-10deg);
  }
  &:after {
    left: 0;
    transform-origin: left top;
    transform: skewX(-10deg);
  }
}

form {
  input[type='text'],
  input[type='password'],
  input[type='email'],
  input[type='search'],
  input[type='number'],
  input[type='tel'],
  input[type='url'],
  textarea {
    font-size: 1.5rem;
    border: 0;
    width: 100%;
    background: $white;
    color: $black;
    padding: 1rem 2rem;
    text-transform: none;
    @include border-radius(0.5rem);
    @include appearance(none);
    @include input-placeholder {
      color: $placeholder;
    }
    &:active,
    &:focus {
      outline: none;
      @include input-placeholder {
        color: transparent;
      }
      //border-color: $turkLight;
    }
  }
  button, input[type='submit'] {
    border: 0;
    position: relative;
    padding: 1.5rem 1rem;
    font-size: 1.6rem;
    color: $white;
    background: $pink;
    cursor: pointer;
    z-index: 5;
    &:hover {
      color: $white;
      background: $pinkHover;
      &:before,
      &:after {
        background:$pinkHover;
      }
    }
    &.disabled {
      cursor: default;
      background: $gray;
    }
    &:before,
    &:after {
      content: ' ';
      background: $pink;
      width: 1rem;
      height: 100%;
      position: absolute;
      top: 0;
    }
    &:before {
      right: -1rem;
      transform-origin: left top;
      transform: skewX(-10deg);
    }
    &:after {
      left: 0;
      transform-origin: left top;
      transform: skewX(-10deg);
    }
  }

  .field {
    position: relative;
    margin-bottom: 1rem;
    label {
      font-size: 1.6rem;
      font-weight: 700;
    }
  }

  .field-checkbox {
    input {
      display: none;
      &:checked {
        +label {
          &:after {
            content: ' ';
            width: 1.4rem;
            height: 1.4rem;
            background: $pink;
            position: absolute;
            left: 0.3rem;
            top: 0.3rem;
          }
        }
      }
    }
    label {
      position: relative;
      padding-left: 3rem;
      font-weight: normal;
      font-size: 1.2rem;
      text-align: left;
      cursor: pointer;
      &:before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: 2rem;
        height: 2rem;
        //border: 0.1rem solid $violet;
        background: $white;
      }
      a {
        font-size: 1.2rem;
        text-decoration: underline;
        //color: $violet;
      }
    }
  }
}

button {
  @include appearance(none);
  &:active,
  &:focus {
    outline: none;
  }
}

.component_social {
  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    background: $white;
    @include border-radius(50%);
    text-decoration: none;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:before {
      font-size: 2rem;
      //color: $turkDark;
    }
    &:hover {
      //background: $turk;
      text-decoration: none;
      &:before {
        color: $white;
      }
    }
  }
}

.js-OverlayOpen,
.js-toggle-action {
  cursor: pointer;
}

.result-message {
  display: none;
  font-size: 1.4rem;
  color: $white;
  background: $red;
  padding: 0.5rem;
  font-weight: normal;
  text-align: left;
  &.formError {
    display: block;
  }
  &.formSuccess {
    display: block;
    background: $green;
  }
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  overflow: hidden;
  display: none;
  outline: 0;
  background: rgba(0,0,0,0.5);
  .overlay-window {
    position: absolute;
    top: -100%;
    left: 0;
    background: #fff;
    padding: 2rem;
    min-width: 30rem;
    max-width: 60rem;
    margin: 0 1rem;
    @include border-radius(2rem);
    @include transition(all 0.4s ease);
    @include media-breakpoint-down(sm) {
      min-width: 90%;
      max-width: 90%;
    }
  }
  .overlay-header {
    padding-bottom: 1rem;
    border-bottom: 0.1rem solid gray;
  }
  .overlay-title {
    width: 100%;
    font-size: 2.6rem;
    padding-right: 5rem;
  }
  .overlay-close {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
    &:hover {
      color: red;
    }
  }
  .overlay-content {
    padding: 1rem 0;
  }
}