.icons-in_interview:before {
  content: "\e900";
}
.icons-in_map:before {
  content: "\e901";
}
.icons-in_diagnostic:before {
  content: "\e902";
}
.icons-in_map_final:before {
  content: "\e903";
}
.icons-menu:before {
  content: "\e948";
}
.icons-close:before {
  content: "\e90a";
}
.icons-arrow-left-drop:before {
  content: "\e921";
}
.icons-arrow-right-drop:before {
  content: "\e922";
}
.icons-arrow-up-drop:before {
  content: "\e926";
}
.icons-arrow-down-drop:before {
  content: "\e925";
}
.icons-quote:before {
  content: "\e904";
}
.icons-file-pdf:before {
  content: "\e905";
}
.icons-phone:before {
  content: "\e961";
}
