@import "bootstrap";
@import "default";
@import "fonts";
@import "icons";
@import "owl-carousel";
@import "fancybox";

$Font: 'UbuntuRegular', Arial, 'Myriad Pro', sans-sarif;

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
  body {
    background: $white;
    padding: 0;
    margin: 0;
    line-height: 1.45;
    font-family: $Font;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: normal;
    color: $black;

    .wrapper {
      position: relative;
      width: 100%;
      min-height: 100vh;
      z-index: 10;
    }
    //.content-block {  flex: 1;  }
    .content-block {  flex-grow:1;  }
  }
}

//HEADER
header {
  $height: 11.5rem;
  height: $height;
  .header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $height;
    z-index: 1000;
    background: rgba(255, 255, 255, 1);
  }
  @include media-breakpoint-down(sm) {
    $height: 5.5rem;
    height: $height;
    .header-fixed {
      height: $height;
    }
  }

  .header-phone {
    font-size: 2.4rem;
    color: $black;
    cursor: default;
    @include media-breakpoint-down(md) {
      cursor: pointer;
    }
  }
}

//FOOTER
footer {

}

//LINK
a {
  font-family: $Font;
  font-size: 1.5rem;
  color: $pink;
  //color: $gray;
  &:hover {
    text-decoration: none;
  }
  &:visited {

  }
}

.fs26 {
  font-size: 2.6rem;
}
.fs16 {
  font-size: 1.6rem;
}

.block-title {
  position: relative;
  z-index: 2;
  font-family: 'UbuntuMedium', $Font;
  font-size: 3.6rem;
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0.4rem;
    height: 1rem;
    width: 23rem;
    z-index: -1;
    background: $pink
  }
  @include media-breakpoint-down(lg) {
    font-size: 3rem;
    &:after {
      height: 0.7rem;
    }
  }
  @include media-breakpoint-down(md) {
    font-size: 2.6rem;
    &:after {
      height: 0.5rem;
    }
  }
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
  &.line-small {
    &:after {
      width: 12rem;
      @include media-breakpoint-down(lg) {
        width: 10rem;
      }
      @include media-breakpoint-down(md) {
        width: 8rem;
      }
      @include media-breakpoint-down(sm) {
        width: 7rem;
      }
    }
  }

}

.p-bg {
  p {
    color:$white;
    background: $pink;
    display: inline-block;
    line-height: 1;
    padding: 1rem 1.5rem;
  }
}

.white-bg {
  background: rgba(255, 255, 255, .8);
  @include media-breakpoint-up(xl) {
    background: transparent;
  }
}

.page-block_1 {
  font-size: 1.8rem;
  color: $black;
  background: #dadbda;
  background-image: url('../images/bg_block_1.png');
  background-position: center;
  background-repeat: no-repeat;
  @include background-size(cover);
  @include media-breakpoint-up(lg) {
    min-height: 58rem;
    background-position: right center;
  }
  @include media-breakpoint-up(xl) {
    @include background-size(contain);
  }
  .block_1-title {
    font-size: 3.6rem;
    @include media-breakpoint-down(lg) {
      font-size: 3rem;
    }
    @include media-breakpoint-down(md) {
      font-size: 2.6rem;
    }
    @include media-breakpoint-down(sm) {
      font-size: 2rem;
    }
  }
}

.page-block_3 {
  color: $white;
  background-position: center;
  background-attachment: fixed;
  background-image: url('../images/bg_block_2.jpg');
  @include background-size(cover);
  @include media-breakpoint-up(lg) {
    min-height: 58rem;
  }
}

.page-block_7 {
  background: #f7f7f7;
}

.page-block_8 {
  position: relative;
  background-color: $pink;
  background-position: top right;
  background-repeat: no-repeat;
  @include background-size(cover);
  @include media-breakpoint-up(md) {
    background-image: url('../images/bg_block_3.jpg');
  }
  @include media-breakpoint-up(xl) {
    min-height: 57rem;
    @include background-size(contain);
  }
  .block_8-phone {
    position: absolute;
    left: 6rem;
    top: 6rem;
    background: $black;
    color: $white;
    width: 9rem;
    height: 9rem;
    font-size: 4rem;
    @include border-radius(50%);
    opacity: 0;
    visibility: hidden;
    @media (min-width: 1460px) {
      opacity: 1;
      visibility: visible;
    }
  }
  form{
    background: #eeeeee;
    padding: 1rem 2rem;
    @include border-radius(2rem);
    @include media-breakpoint-up(lg) {
      padding: 2rem 4rem;
    }
    button {
      padding: 1rem 4em;
    }
    .form-title {
      position: relative;
      z-index: 2;
      margin-bottom: 4rem;
      font-family: 'UbuntuMedium', $Font;
      font-size: 3.6rem;
      &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0.4rem;
        height: 1rem;
        width: 23rem;
        z-index: -1;
        background: $pink
      }
      @include media-breakpoint-down(lg) {
        font-size: 3rem;
        &:after {
          height: 0.7rem;
        }
      }
      @include media-breakpoint-down(md) {
        font-size: 2.6rem;
        &:after {
          height: 0.5rem;
        }
      }
      @include media-breakpoint-down(sm) {
        font-size: 2rem;
      }
    }
    .field {
      margin-bottom: 2rem;
    }
  }
}

.page-block_9 {
  background: $black;
  color: $white;
  [class^="icons-"], [class*=" icons-"] {
    margin-top: 0.3rem;
  }
}

.component_steps_audit {
  font-size: 1.5rem;
  color: $black;
  .step_number {
    margin-top: -2rem;
    color: $pink;
    font-size: 7rem;
    font-family: 'UbuntuMedium', $Font;
    @include media-breakpoint-down(md) {
      font-size: 4rem;
      margin-top: -1rem;
    }
  }
}

.component_comments {
  .comment_item {
    position: relative;
    background: $white;
    @include border-radius(1rem);
    padding-bottom: 7rem;
    .icons-quote {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      color: #ececec;
      font-size: 7rem;
    }
  }
  .comment_ava {
    min-width: 10rem;
    max-width: 10rem;
    min-height: 10rem;
    max-height: 10rem;
    @include border-radius(50%);
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
  .comment_detail {
    font-size: 1.6rem;
    color: $black;
  }
}

.component_clients {
  img {
    max-height: 8rem;
    max-width: 100%;
    @include filter(grayscale(100%));
    &:hover {
      @include filter(grayscale(0%));
    }
  }
  [class*='col-'] {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

[data-toggle] {
  border-bottom: 1px dashed;
  cursor: pointer;
}

.tooltip-title {
  font-size: 1.6rem;
  display: block;
  font-weight: bold;
  margin-bottom: 1rem;
}

.tooltip {
  text-align: left;
  color: $white;
  min-width: 30rem;
  @include border-radius(1rem);
  .tooltip-inner {
    text-align: left;
    font-size: 1.3rem;
    line-height: 1.25;
    min-width: 30rem;
    padding: 0.5rem;
    color: $white;
    @include border-radius(1rem);
  }
}

.component_audit_in {
  font-size: 1.6rem;
  .audit_in-icon {
    position: relative;
    z-index: 2;
    [class*='icons-'] {
      font-size: 7rem;
    }
    .square {
      position: absolute;
      bottom: -1.5rem;
      z-index: -1;
      display: block;
      background: $pink;
      width: 9rem;
      left: 50%;
      margin-left: -4.5rem;
      height: 4.5rem;
      &:before,
      &:after {
        content: ' ';
        background: $pink;
        width: 1rem;
        height: 100%;
        position: absolute;
        top: 0;
      }
      &:before {
        right: -1rem;
        transform-origin: left top;
        transform: skewX(-10deg);
      }
      &:after {
        left: 0;
        transform-origin: left top;
        transform: skewX(-10deg);
      }
    }
  }
}

.block-attention {
  background: #fff59b;
  color: $black;
  padding: 1rem;
}

.component_audit_result {
  .audit_result-item {
    background: $pink;
    height: 8rem;
    &:before,
    &:after {
      content: ' ';
      background: $pink;
      width: 2rem;
      height: 100%;
      position: absolute;
      top: 0;
      z-index: 1;
    }
    &:before {
      right: 0;
      transform-origin: left top;
      transform: skewX(-10deg);
    }
    &:after {
      left: 1.5rem;
      transform-origin: left top;
      transform: skewX(-10deg);
    }
    .audit_result-count {
      position: relative;
      color: $white;
      font-size: 9rem;
      margin-top: -3rem;
      margin-left: -2.5rem;
      z-index: 2;
      @include user-select(none);
    }
    .audit_result-name {
      color: $white;
      font-size: 1.6rem;
      padding-top: 0.5rem;
    }
  }
}

.owl-carousel {
  .owl-stage {
    -ms-touch-action: auto;
    touch-action: auto;
  }
  &.owl-drag {
    .owl-item{
      -ms-touch-action: auto;
      touch-action: auto;
    }
  }
  .owl-dots {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    .owl-dot {
      width: 2rem;
      height: 2rem;
      @include border-radius(50%);
      background: $placeholder;
      margin-right: 1rem;
      &.active {
        background: $pink;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.overlay-content {
  form {
    input[type='text'],
    input[type='password'],
    input[type='email'],
    input[type='search'],
    input[type='number'],
    input[type='tel'],
    input[type='url'],
    textarea {
      border: 1px solid $placeholder;
    }
  }
  .field-checkbox {
    label {
      &:before {
        background: $placeholder;
      }
    }
  }
}